/* === Navbar Styles === */

/* class selector, applies style rules to the selected class */
.navbar {
    /* create spacing around navbar */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    /* the previous four properties can be abbreviated as: */
    padding: 8px 16px;
}

.navbar ul {
    /* selects all ul's that are descendants of .navbar */
    /* layout properties */
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
}

.navbar a {
    padding: 2rem;
    color: inherit; /* makes link have the same color as parent */
    text-decoration: none; /* remove link underlines */
}

.navbar a:hover {
    /* changes color when mousing over link */
    color: #bbb;
}

/* === Footer Styles === */
.footer {
    padding: 8px 16px;
    text-align: center;
}

.footer a {
    color: inherit;
}

.footer a:hover {
    color: #bbb;
}

/* === Main Content === */
.wrapper {
    max-width: 960px;
    margin: auto; /* centers the wrapper element */
}

.main {
    padding: 2rem;
}

/* selects any h1, h2, h3, or h4 that is a descendant of main element */
.main h1,
.main h2,
.main h3,
.main h4 {
    width: max-content;
    padding: 16px 8px;
    color: #333;
    background-color: #eee;
    font-weight: bolder; /* bold text */
    text-decoration: underline;
}

.main img {
    /* select all images in .main element */
    margin: 32px;
    max-width: 50%;
    float: right; /* makes the element go to the right side */
}

.main img:nth-of-type(2) {
    /* overrides previous selector for the second image */
    float: left;
}

/* === Responsive Styles === */
/* these styles only take effect when certain conditions are met */
@media (max-width: 600px) {
    /* only use these rules when the viewport is less than 400px (mobile) */
    .main img {
        margin: 8px;
    }
    .main h1,
    .main h2,
    .main h3,
    .main h4 {
        font-size: 20px;
    }
}

/* === Helper Styles === */
.fixed {
    position: fixed; /* makes elements stick to window */
    width: 100%;
}

.dark {
    background-color: #333;
    color: #eee;
}
